.credit-card-component {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 350px;
    height: 200px;
    .main {
        background-image: linear-gradient(135deg, var(--color_b_100) 0%, var(--color_c_100) 100%);
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0px 0px;
        transform: translate(-50%, -50%);
    }

    .card {
        background: rgba(255, 255, 255, 0.35);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 350px;
        height: 200px;
    }
    .visa,
    .chip,
    .number,
    .name,
    .from,
    .to {
        position: absolute;
        color: #fff;
        opacity: 0.9;
    }

    .visa {
        right: 0;
        margin: 20px;
    }
    .chip {
        top: 60px;
        margin: 20px;
    }
    .number {
        top: 100px;
        margin: 25px 20px;
        font-size: 20px;
    }
    .name {
        top: 130px;
        margin: 30px 25px;
        font-size: 13px;
    }
    .from {
        top: 130px;
        right: 70px;
        margin: 30px 25px;
        font-size: 13px;
    }
    .to {
        top: 130px;
        right: 0px;
        margin: 30px 25px;
        font-size: 13px;
    }
}
