//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --color_a_100: #ffffff;
    --color_a_200: #f1f1f1;
    --color_a_300: #d3cccc;
    --color_a_400: #d8d1d1;
    --color_b_100: #262342;
    --color_b_200: #343151;
    --color_b_300: #84819a;
    --color_c_100: #32fcb3;

    --shadow_1: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    --shadow_2: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    --shadow_3: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

p,
a {
    font-family: 'Poppins', sans-serif;
}

.App-Root {
    background-color: var(--color_a_100);
    color: var(--color_b_100);
}
main {
    min-height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
}
.home-component {
    height: 100vh;
}
a {
    color: whitesmoke;
}
