.category-process-component {
    display: flex;
    .progress-bar {
        max-width: 150px;
    }

    .transaction-grid {
        flex-shrink: 0;
        overflow: hidden;
        background-color: rgba(51, 51, 51, 0.596);
        position: fixed;
        width: 100%;
        color: var(--color_a_100);
        height: 100vh;
        right: 0;
        top: 0;
        z-index: 9;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
