.overview-progress-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    height: auto;
    padding: 24px;
    .progress-bar {
        width: 10%;
        max-width: 150px;
        min-width: 125px;
        .CircularProgressbar-trail {
            stroke: var(--color_b_100);
        }
        .CircularProgressbar-path {
            stroke: var(--color_c_100);
        }
        h3,
        p,
        strong {
            font-size: 13px;
            text-align: center;
            word-wrap: break-word;
        }
        h3 {
            margin-top: 8px;
        }
    }
}
