@import '/src/scss/variables.scss';
.home-component {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .home-component-sidebar {
        flex-shrink: 0;
        position: fixed;
        left: 0;
        z-index: 9;
        bottom: 0;
        height: 100vh;
        width: $sidebar-width;
    }
    .home-component-main {
        width: calc(100% - $sidebar-width);
        margin-left: $sidebar-width;
        height: 100%;
    }
    .home-component-overview {
        height: 100%;
    }
}
