.app-header-component {
    position: relative;
    text-align: center;
    padding: 12px;
    .title {
        color: var(--color_b_100);
        text-transform: uppercase;
        font-family: 'Red Hat Display', sans-serif;
        font-family: 'Poppins', sans-serif;
    }
    .calendar-button {
        position: absolute;
        font-size: 24px;
        background-color: transparent;
        top: 45%;
        transform: translateY(-50%);
        color: var(--color_c_100);
        right: 24px;
        transition: color 0.25s ease;
        &:hover {
            cursor: pointer;
            color: var(--color_a_100);
        }
    }
}
