.transaction-summary-grid-component {
    width: 100%;
    .ag-cell {
        color: var(--color_b_100);
    }
    #transaction-summary-grid {
        .ag-header {
            background-color: var(--color_a_100);
            border-bottom: none;
        }
        .ag-header-row,
        .ag-header-viewport {
            background-color: transparent;
            color: var(--color_b_100);
        }
        .ag-root-wrapper {
            border: none;
        }
    }
}
