.spending-graph-component {
    .transaction-wrapper {
        display: flex;
        flex-direction: column;
        gap: 18px;
        .error-msg {
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            justify-content: center;
        }
    }
    .transaction {
        display: flex;
        flex-direction: column;
        .data {
            display: flex;
            justify-content: space-between;
            .name {
                font-weight: 300;
            }
        }
        .transaction-line {
            height: 8px;
            background-color: #1da1f2;
            border-radius: 0 4px 4px 0;
        }
    }
}
